@import '../mixins';
@import '../variables-bootstrap';

@media-image: 66.66666%;
@media-image-row: 300px;
@media-image-small: 0;

.article {
    position: relative;
    display: flex;
    flex-direction: column;
}

.article__media {
    position: relative;
    display: block;
    padding-bottom: @media-image;
    overflow: hidden;

    &:hover {

        .article__image {
            transform: scale(1.1);
        }
    }
}

.article__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: ~"center/cover";
    transform: scale(1);
    transition: all .5s ease;
}

.article_body {

}

.article__title {
    margin: 0 0 10px;

    a {
        display: block;
        padding: 20px 0 0;
        //margin-top: -20px;
        transition: all .3s ease;

        &:hover {
            color: @brand-primary;
        }
    }
}

.article__content {
    display: block;

    a&:hover {
        text-decoration: underline;
    }

    a {
        .link();
    }

    p {
        margin-top: 0; // Because of HP Aktuality .article--row
    }

    @media (min-width: @screen-sm-min) {
        padding-right: 20px;
    }
}

.article__meta {
    font-size: @font-size-s;

    a {
        .link();
    }
}

/**
 * Article list
 */
.article-list {
    margin-bottom: -15px;

    .article {
        margin-bottom: 15px;
        padding-bottom: 15px;

        &:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background-image: linear-gradient(left, #c1c1c1, #c1c1c1 50%, transparent 50%, transparent 100%);
            background-size: 2px 1px;
            background-repeat: repeat-x;
            content: '';
        }

        &:last-child:after {
            content: none;
        }
    }
}

/**
 * Modifiers
 */
.article--row-reverse,
.article--row {

    .article__body,
    .article__media {
        display: flex;
        flex-direction: column;

        @media (min-width: @screen-sm-min) {
            flex: 1 0 50%;
            min-width: 50%;
        }
    }

    .article__body {
        position: relative;
        padding: 0 0 20px;

        @media (min-width: @screen-sm-min) {
            padding: 0 20px 20px;

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: url(/images/pattern-white.png) repeat;
                content: '';
                z-index: -1;
                opacity: .7;
            }

            &:before {
                position: absolute;
                top: 50%;
                left: -10px;
                content: '';
                width: 0;
                height: 0;
                margin-top: -7px;
                border-style: solid;
                border-width: 10px 10px 10px 0;
                border-color: transparent #fff transparent transparent;
            }
        }
    }

    .article__media {
        padding-bottom: @media-image-row;
    }

    .article__title {
        //margin-bottom: 15px; Unite all article__title
    }

    .article__content {
        flex: 1 0 auto;
    }

    @media (min-width: @screen-sm-min) {
        flex-direction: row;
        //height: 300px; Ignore Oleg
    }
}

.article--row-reverse {

    @media (min-width: @screen-sm-min) {
        flex-direction: row-reverse;
    }

    .article__body {

        &:before {
            left: auto;
            right: -10px;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent #fff;
        }
    }
}

.article--small {
    flex-direction: row-reverse;

    .article__body {
        flex: 1;
        display: flex;
        flex-direction: column;;
        padding: 0 10px 0 0;
    }

    .article__media {
        width: 75px;
        padding-bottom: @media-image-small;
    }

    .article__meta,
    .article__content {
        // max-width: 80%; Ignore Oleg
    }

    .article__content {
        .ellipsis(2);
    }

    .article__meta {
        margin-top: auto;
        padding-top: 5px;
    }
}
