@import '../variables-bootstrap';

@breadcrumb-line-height: 100%;

.breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    font-size: @font-size-small;
    overflow: hidden;
    white-space: nowrap;

    li {
        position: relative;
        padding-right: 10px;

        & + li {
            padding-left: 20px;

            &:after,
            &:before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 1px;
                height: @breadcrumb-line-height;
                padding: 0;
                background-color: #484848;
                content: '';
            }

            &:before {
                top: -50%;
                margin-top: 1px;
                transform: rotateZ(-20deg);
            }

            &:after {
                top: 50%;
                margin-top: -1px;
                transform: rotateZ(20deg);
            }
        }

        &.active a:hover {
            text-decoration: none;
        }
    }

    a {
        display: inline-block;
        padding: 12px 15px 13px;

        &:hover {
            text-decoration: underline;
        }
    }
}
