.btn {
    padding: 9px 18px;
    box-shadow: 0 1px 2px 0 rgba(65, 64, 64, 0.5);
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-primary {
    border-color: transparent;
}

.btn-min {
    min-width: 200px;
}

.btn-blank {
    box-shadow: none;
    border: none;
    color: @brand-primary;

    &:hover {
        color: @brand-primary;
        text-decoration: underline;
    }
}
