@import '../variables-bootstrap';

.card {
    display: block;
    border: solid 1px #d4d4d4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    transition: all .3s ease;
    word-wrap: break-word;

    &:before {
        position: relative;
        top: 20px;
        left: 20px;
        display: block;
        width: 10px;
        height: 10px;
        margin-bottom: 10px;
        background-color: @brand-primary;
        content: '';
    }

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    }

    a[href^='tel'] {
        .font-lora;
        font-style: italic;
    }
}

.card--no-square {

    &:before {
        content: none;
    }
}

.card__inner {
    padding: 20px 20px 16px; // 16px bottom because of line height of text
}

.card__image {
    width: 100%;
    height: auto;
}

.card__avatar {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
}

.card__title {
    margin-top: 0;
    font-size: @font-size-large;
    font-weight: 400;
    line-height: 1.44;
}

.card__content {
    color: #818181;
    .font-lora;
    font-style: italic;
    line-height: 1.57;
}

.card__meta {
    margin-top: 20px;
    color: #9a9a9a;
    font-size: @font-size-xs;
}
