@import '../variables-bootstrap';

.city-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city-map__box {
    display: flex;
    align-items: center;
    padding: 40px 20px;

    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.city-map__svg {
    margin: 0 auto;
}

.city-map__item {
    fill: #b7010c;
    stroke: #fff;
    stroke-width: 2px;
    transition: all .3s ease;

    &.active,
    &:hover {
        fill: #84010b;
        cursor: pointer;
    }
}

.city-map__river {
    fill: #0F92DB;
    stroke: #fff;
    stroke-width: 2px;
}

.city-map__part {

    a {
        color: @brand-primary;
    }

    &.active {

        a {
            text-decoration: underline;
            font-weight: 700;
        }
    }
}
