@import '../variables-bootstrap';

.cookie-agreement {
    display: none;
    width: 100%;
    background-color: @gray-base;
    color: #fff;
    padding: 10px 15px;
}

.cookie-agreement__text {
    flex: 1 1 100%;
    padding-right: 20px;
}

.cookie-agreement__btn {
    display: inline-block;
    padding: 3px 20px;
    background-color: #fff;
    color: #000;
    transition: all .3s ease;

    &:hover {
        color: #000;
    }
}

.cookie-agreement--show {
    display: flex;
    align-items: center;
}
