@import '../variables-bootstrap';

/**
 * Both footer sections
 */
.footer {
}

.footer__logo {
    display: inline-block;
    margin-bottom: 35px;
}

.footer__logo-image {
    width: 166px;
    height: 29px;
}

.footer__socials {
    text-align: center;

    @media (min-width: @screen-md-min) {
        text-align: right;
    }
}

.footer__social {
    font-size: 0;
    margin: 0 5px;

    &:last-child {
        margin-right: 0;
    }
}

.footer__social-link {
    width: 48px;
    height: 48px;
    opacity: 1;
    transition: all .3s ease;

    &:hover {
        opacity: .6;
    }
}

.footer__delimiter {
    flex: 1 0 auto;
}

/**
 * Footer before footer
 */
#layout-footer {
    padding: 20px 0;
    background-color: #232323;

    @media (min-width: @screen-md-min) {
        padding: 50px 0 65px;
    }
}

#before-footer-left-right {
    display: flex;
    flex-wrap: wrap;
}

#before-footer-left {
    max-width: 100%;
    flex: 1 0 100%;
    margin-bottom: 20px;

    @media (min-width: @screen-md-min) {
        max-width: 100% / 3 * 2;
        flex: 1 0 100% / 3 * 2;
        margin-bottom: 0;
    }
}

#before-footer-right {
    max-width: 100%;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: @screen-md-min) {
        max-width: 100% / 3;
        flex: 1 0 100% / 3;
    }
}

.zone-before-footer-right {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/**
 * Footer bottom
 */
#footer {
    padding: 20px 0;
    background-color: #1a1919;
    color: #4a4a4a;
    font-size: @font-size-small;

    a {

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 3px;
    }
}
