@import '../variables-bootstrap';

.form-newsletter {
    display: flex;
    margin-bottom: 15px;
    color: #fff;
}

.form-newsletter__input {
    display: block;
    width: 100%;
    padding: 10px 35px 10px 15px;
    background-color: #1a1919;
    border: none;
    border-radius: 0;
}

.form-newsletter__btn {
    padding: 0 15px;
    background-color: @brand-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    white-space: nowrap;
    transition: all .3s ease;

    &:hover {
        background-color: darken(@brand-primary, 10%);
    }
}
