.form-mhd {
    display: flex;
    width: ~"calc(100% + 10px)";
    flex-wrap: wrap;
    margin-left: -10px;
    @media (min-width: @screen-sm-min) {

        width: ~"calc(100% + 20px)";
        margin-left: -20px;
    }
}

.form-mhd__col {
    padding-left: 10px;
    padding-bottom: 10px;

    @media (min-width: @screen-sm-min) {
        padding-left: 20px;
        padding-bottom: 20px;
    }
}

.form-mhd__col--small {
    max-width: 100% / 2;
    flex-basis: 100% / 2;

    @media (min-width: @screen-sm-min) {
        max-width: 100% / 4;
        flex-basis: 100% / 4;
    }
}

.form-mhd__col--large {
    max-width: 100%;
    flex-basis: 100%;

    @media (min-width: @screen-sm-min) {
        max-width: 100% / 2;
        flex-basis: 100% / 2;
    }
}

.form-mhd__col--full {
    max-width: 100%;
    flex-basis: 100%;
}

.form-mhd__label {
    display: block;
    margin-bottom: 0;
    font-weight: 400;
}

.form-mhd__title {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;

    @media (min-width: @screen-sm-min) {
        margin-bottom: 15px;
    }
}

.form-mhd__input {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #881015;
    padding: 10px 15px;
}

.form-mhd__btn {
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    color: #881015;
    border: none;
    border-radius: 0;
    font-weight: 700;

    @media (min-width: @screen-sm-min) {
        width: auto;
    }
}
