@import '../variables-bootstrap';

.form-control {
    height: 42px;
    padding: 6px 10px;
    box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.5);
    appearance: none;

    font-weight: 500;
    color: #49453a;

    &::placeholder {
        font-weight: 400;
    }

    &:focus {
        border-color: rgba(255, 0, 0, 0.26);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(215, 25, 32, 0.18);
    }

    @media (min-width: @screen-sm-min) {
        height: 44px;
        padding: 6px 15px;
    }
}

.input-group {
    display: flex;

    [class^='icon-'] {
        color: #9a9a9a;
    }

    &.filled {

        [class^='icon-'] {
            color: @brand-primary;
        }
    }

    .form-control {

        &:first-child {
            border-bottom-right-radius: @input-border-radius;
            border-top-right-radius: @input-border-radius;
        }
    }
}

.input-group-addon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    border: none;

    display: flex;
    align-items: center;

    width: auto;
    background: transparent;

}

.form {
    margin-bottom: 30px;

    @media (min-width: @screen-sm-min) {
        margin-bottom: 50px;
    }
}

.form-fieldset--search {
    padding-bottom: 0;
}

.form-group--search {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    @media (min-width: @screen-sm-min) {
        flex-wrap: nowrap;
    }

    .input-group {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.5);

        @media (min-width: @screen-sm-min) {
            flex: 1 0 auto;
        }
    }

    .btn {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: @screen-sm-min) {
            flex-basis: 140px;
            max-width: 140px;
            margin-left: 10px;
        }
    }

    .btn-filter {
        justify-content: space-between;

        &.active {
            border-color: rgba(255, 0, 0, 0.26);
            background-color: #fff;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(215, 25, 32, 0.18);

            [class^='icon-'] {
                color: @brand-primary;
            }
        }

        &:not(.collapsed) {
            //color: #333;
            //background-color: #e6e6e6;
            //border-color: #adadad;
        }
    }
}

.form-fieldset--filter {
    padding: 20px;
    border: 1px solid @input-border;
    border-radius: @input-border-radius;
    box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.5);

    .btn {
        margin-top: 20px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.form-badge {
    display: inline-block;
    border-radius: 50%;
    min-width: 22px;
    min-height: 22px;
    margin-right: 5px;
    color: #fff;
    background-color: @brand-primary;
    font-weight: 700;
    text-align: center;
}

.select2-container--default .select2-selection--multiple {

    .form-control;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0;
}

.select2-search {
    margin: 0;
}

.select2-search__field {

}
