@import '../variables-bootstrap';

.heading {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 20px;

    @media (min-width: @screen-sm-min) {
        flex-wrap: nowrap;
        margin-bottom: 40px;
    }
}

.heading__title {
    flex: 1 0 100%;
    margin-top: 0;

    @media (min-width: @screen-sm-min) {
        flex: 1;
    }
}

.heading__actions {

}

.heading__action {

    &:not(.collapsed) {
        color: @brand-primary;
        border-bottom: 3px solid @brand-primary;
        padding-bottom: 3px;
    }
}
