@import '../variables-bootstrap';

#layout-header,
.header {
    position: relative;
    background-color: @brand-primary;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;

    @media (min-width: @screen-md-min) {
        justify-content: flex-start;
        margin: 40px 0 55px;
    }
}

.header__divider {
    flex: 1 0 auto;

    @media (max-width: @screen-xs-max) {
        display: none;
    }
}

.header__menu {
    // For .menu-primary
    position: relative;

    @media (max-width: @screen-xs-max) {
        display: none;
    }
}

.header__top {

    @media (max-width: @screen-xs-max) {
        display: none;
    }
}

.header__menu-bgr {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    z-index: @zindex-navbar;
    background-color: @brand-primary;
    transition: height .1s ease;
}


.header__login,
.header__mobile-trigger {
    color: #fff;

    @media (min-width: @screen-sm-min) {
        display: none;
    }

    &.search--active {

        .icon-close {
            display: inline-block;
        }

        .icon-search {
            display: none;
        }
    }

    .icon-close {
        display: none;
    }
}
