@import '../variables-bootstrap';

.header-strip {

}

.header-strip .widget-before-main,
.header-strip .zone-before-main,
.header-strip__container {
    display: flex;
    width: 100%;

    // Duplicate Because of widget in zone
    &.header-strip-item,
    &.header-strip__item {

        @media (max-width: @screen-sm-max) {
            display: none;
        }
    }

    // Duplicate Because of widget in zone
    &.header-strip-item-important,
    &.header-strip__item--important {

        @media (max-width: @screen-sm-max) {
            display: block;
            max-width: 100%;
            flex-basis: 100%;

            &:after {
                content: none;
            }
        }
    }
}

.header-strip-item,
.header-strip__item {
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(to top, #595858, #595858 50%, transparent 50%, transparent 100%) repeat-y ~"center/1px 2px";
        content: '';
    }

    @media (max-width: @screen-sm-max) {
        display: none;
    }
}

.header-strip-small,
.header-strip__small {
    max-width: 100% / 3;
    flex-basis: 100% / 3;
}

.header-strip-main,
.header-strip__main {
    max-width: 100% / 3 * 2;
    flex-basis: 100% / 3 * 2;
}

.header-strip-item-important,
.header-strip__item--important {

    @media (max-width: @screen-sm-max) {
        display: block;
        max-width: 100%;
        flex-basis: 100%;

        &:after {
            content: none;
        }
    }
}

.header-strip-item:first-child .breadcrumb li:first-child a,
.header-strip-item:first-child .weather,
.header-strip__item:first-child .breadcrumb li:first-child a,
.header-strip__item:first-child .weather {
    padding-left: 0;
}

.header-strip-item-important .weather,
.header-strip__item--important .weather {

    @media (max-width: @screen-sm-max) {
        padding-left: 0;
        padding-right: 0;
    }
}

.header-strip__inner {
    display: flex;
    padding: 10px 15px;
    text-transform: uppercase; // For weather/infolinka letters
}

.header-strip__full {
    flex: 1;
}

.header-strip__icon.icon-phone-info {
    color: #5f5f5f;
    font-size: 24px;
    line-height: 0;
    vertical-align: sub;
}
