.highlight {
    line-height: 1.3;
}

.highlight__text {
    padding: 0 10px; // 0 vertical margin because of ellipsis bug
    background-color: @brand-primary;
    box-decoration-break: clone;
    transition: all .3s ease;
}
