.icon-menu {
    position: relative;
    display: block;
    width: 18px;
    height: 12px;
}

.icon-menu__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.icon-menu__line--1 {
    top: 0;
}

.icon-menu__line--2 {
    top: 5px;
}

.icon-menu__line--3 {
    top: 10px;
}
