@import '../variables-bootstrap';

.icon-prev,
.icon-next {
    display: block;
    width: 16px;
    height: 16px;
    transform: rotate(45deg) translateX(-4px);
    border-top: solid 2px @brand-primary;
    border-right: solid 2px @brand-primary;
}

.icon-prev {
    transform: rotate(-135deg) translateX(-4px);
}

.icon-down {
    display: block;
    width: 12px;
    height: 12px;
    transform: rotate(135deg);
    border-top: solid 3px #353535;
    border-right: solid 3px #353535;
}

.icon-smart-city {
    font-size: 50px;
}
