@import '../variables-bootstrap';

@circle-delay: 100ms;

.infobox {
    display: block;
    padding: 0 20px;
    color: @text-color;
    text-align: center;

    &:hover {

        .infobox__title {
            color: @brand-primary;
        }

        .infobox__wrap {
            transform: scale(1.1);
        }

        .infobox__icon {
            color: #fff;
        }

        .infobox__circle {
            fill: @brand-primary;
        }
    }
}

.infobox__title {
    font-size: @font-size-large;
    transition: all .3s ease;
}

.infobox__content {
    margin: 10px auto;
    color: #818181;
    .font-lora;
    font-style: italic;
}

.infobox__icon {
    color: @brand-primary;
    font-size: 60px;
    transition: all .3s ease;
}

.infobox__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    transform: scale(1);
    transition: all .3s ease;
}

.infobox__circle-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: -1;
}

.infobox__circle {
    fill: #fff;
    stroke: @brand-primary;
    stroke-width: 3;
    stroke-dasharray: 400;
    -webkit-animation-play-state: running;
    stroke-dashoffset: 400;
    animation: circle 1.5s ease forwards; // forwards - keep styles after animation
}

.infobox__circle--1 {
    animation-delay: @circle-delay * 1;
}

.infobox__circle--2 {
    animation-delay: @circle-delay * 2;
}

.infobox__circle--3 {
    animation-delay: @circle-delay * 3;
}

.infobox__circle--4 {
    animation-delay: @circle-delay * 4;
}

.infobox__circle--5 {
    animation-delay: @circle-delay * 5;
}

@keyframes circle {
    from {
        stroke-dashoffset: 400;
    }

    to {
        stroke-dashoffset: 0;
    }
}
