@import '../variables-bootstrap';

.label {
    display: inline-block;
    border-radius: 0;
    font-weight: 300;
    font-size: @font-size-base;
    padding: 4px 10px;
}

.labels {
    margin-bottom: -3px;
    font-size: 0;

    .label {
        margin: 0 3px 3px 0;
    }
}