.logo {
    display: inline-block;
}

.logo__image {
    display: inline-block;
    width: 135px;
    height: 24px;

    @media (min-width: @screen-md-min) {
        width: 215px;
        height: 37px;
    }
}
