#footer .menu,
.menu-s-k-4-doln-ponuka,
.menu-bottom {

    li {
        display: inline-block;

        &:last-child a:after {
            content: none;
        }
    }

    a {
        position: relative;
        display: inline-block;

        &:after {
            content: '';
            width: 1px;
            height: 10px;
            background-color: #4a4a4a;
            display: inline-block;
            margin: 0 8px;
        }
    }
}
