@import '../variables-bootstrap';

@dropdow-menu-width: 3000px;

#layout-header .menu-s-k-2-hlavn-ponuka,
.menu-primary {
    width: 100%;
    font-size: 0;

    // First level menu
    & > li {
        display: inline-block;
        font-size: @font-size-medium;

        &:last-child,
        &:first-child {

            .icon-search {
                font-size: @font-size-base;
                vertical-align: middle;

                @media (min-width: @screen-lg-min) {
                    font-size: 16px;
                }
            }

            .icon-dots {
                font-size: 13px;
                vertical-align: bottom;
            }

            span,
            a:not(.dropdown__link):hover {
                color: #fff;
                background-color: transparent;
            }
        }

        &:last-child {

            a {
                padding-right: 0;
            }
        }

        &.active > a,
        & > a:hover {
            background-color: #fff;
            color: @brand-primary;
        }

        & > span,
        & > a:not(.dropdown__link) {
            display: inline-block;
            font-size: @font-size-medium;
            font-weight: 500;

            @media (min-width: @screen-sm-min) {
                padding: 5px 9px;
                font-size: @font-size-base;
            }

            @media (min-width: 920px) {
                padding: 5px 10px;
                font-size: @font-size-large;
            }

            @media (min-width: @screen-lg-min) {
                padding: 5px 15px;
            }
        }
    }

    // Rest menu links
    span,
    a:not(.dropdown__link) {
        color: #fff;
        font-size: @font-size-base;
        transition: all .2s ease;
        cursor: pointer;
    }

    @media (max-width: @screen-xs-max) {
        display: none;
    }

    .mega-dropdown-menu {
        position: absolute;
        top: 100%;
        //left: 0;
        right: 0;
        left: auto;
        width: 100%;
        min-width: 600px;
        padding: 25px 0;
        z-index: @zindex-navbar;
        display: none; // Will appear with JS

        // Second level menu
        & > ul {
            position: relative;
            width: 100% / 3;

            & > li > ul {
                position: absolute;
                top: 0;
                left: 100%;
                width: 100%;
                min-height: 100%; // To be full height column
                display: none; // Will appear with JS

                // Third level menu
                & > li > ul {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 100%;
                    display: none; // Will appear with JS

                    // Fifth level
                    ul {
                        display: none !important;
                    }
                }
            }
        }

        // BEM
        a:not(.square) {
            display: block;
            width: 100%;
            padding: 4px 7px;
        }

        li.active {

            & > a {
                background-color: #fff;
                color: @brand-primary;
            }
        }

        &:after,
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1000px;
            content: '';
        }

        &:before {
            left: 100%;
        }

        &:after {
            right: 100%;
        }
    }

    .mega-dropdown-menu__content {
        flex: 1 0 auto;
        font-size: @font-size-base;
    }
}
