@import '../variables-bootstrap';

#layout-footer .menu,
#layout-footer .menu-s-k-2-hlavn-ponuka,
.menu-footer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;

    a {
        display: block;
        padding: 1px 15px 1px 0;
        color: #9a9a9a;
        font-size: @font-size-small;

        &:hover {
            text-decoration: underline;
        }
    }

    & > li {
        width: 100%;
        margin-bottom: 20px;

        & > a {
            color: #fff;
            font-size: @font-size-medium;
            font-weight: 500;
        }

        & > ul {
            margin-top: 10px;
        }

        @media (min-width: @screen-sm-min) {
            width: 50%;
        }

        @media (min-width: @screen-md-min) {
            width: 25%;
        }
    }
}
