@import '../variables-bootstrap';

.menu-s-k-3-r-chla-ponuka,
.menu-links {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    li {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;

        a:after {
            content: none;
        }

        @media (min-width: @screen-xs-min) {
            width: 50%;

            &:nth-child(2n + 1) a:after {
                content: '';
            }
        }

        @media (min-width: @screen-sm-min) {
            width: 25%;

            a:after {
                content: '';
            }
            &:nth-child(4n + 4) a:after {
                content: none;
            }
        }
    }

    a {
        position: relative;
        display: block;
        height: 100%;
        padding: 2px 25px 5px 20px;
        font-size: @font-size-base;
        transition: all .3s ease;
        color: @text-color!important;

        &:before {
            position: absolute;
            top: 10px;
            left: 0;
            width: 10px;
            height: 10px;
            background-color: @brand-primary;
            content: '';
        }

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: #c1c1c1;
            content: '';
        }

        &:hover {
            color: @brand-primary!important;
        }

        @media (min-width: @screen-sm-min) {
            font-size: @font-size-large;
        }
    }
}

.menu-links--column {

    li {

        width: 100%;

        a:after {
            background: transparent;
        }
    }
}
