@import '../variables';
@import '../variables-bootstrap';

.menu-mobile-footer {
    padding: @slide-menu-padding;
    margin: 0 0 0 -5px;

    li {
        display: inline-block;
    }

    a {
        padding: 5px;
        color: #888484;
        font-size: @font-size-small;
    }
}
