.menu-mhd {
    display: block;
}

.menu-mhd__item {
    display: inline-block;
}

.menu-mhd__link {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 10px;
    margin-right: 5px;
    font-size: 11px;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
        font-weight: 700;
        content: '•';
    }

    &:hover {
        text-decoration: underline;
    }
}
