@import '../variables-bootstrap';

.header__top .menu,
.menu-s-k-1-horn-ponuka:not(.menu-mobile-footer),
.menu-top {
    font-size: 0;
    padding-left: 0;
    margin: 0;

    li {
        display: inline-block;
        list-style: none;
        margin: 0 1px 0 0;
    }

    a {
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        color: @brand-primary;
        font-size: @font-size-small;
    }
}
