@import '../variables';
@import '../variables-bootstrap';

.menu-mobile {

    /**
     * JavaScript functionality
     */
    &.active-submenu,
    .active-submenu {

        & > li > ul {
            display: none;
        }
    }

    li {
        display: none;
    }

    li.active-parent,
    &.active-submenu > li,
    ul.active-submenu > li,
    li.active-menu {
        display: block;
    }

    li.active-parent:not(.active-menu) > a {
        display: none;
    }

    .has-submenu:not(.active-menu) > a {
        position: relative;
        padding-right: 25px;

        &:after {
            position: absolute;
            top: 50%;
            right: 15px;
            content: '>';
            transform: translateY(-50%);
        }
    }

    /**
     * Styling
     */
    &,
    ul,
    li {
        width: 100%;
    }

    a {
        display: block;
        padding: 10px @slide-menu-padding;
        border-bottom: 1px solid #2f2f2f;
        color: #fff;
        font-size: @font-size-medium;
    }

    .active-menu > a {
        background-color: #323131;
        font-weight: 700;
    }
}

.menu-mobile--back {
    background-color: #252525;
}

.zone-mobile-navigation,
.menu-mobile.js-menu-mobile {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}
