@import '../variables-bootstrap';

.mhd {
    position: relative;
    padding: 20px 20px 10px;
    background-color: @brand-primary;
    color: #fff;
    font-weight: 500;
    z-index: 1;

    ::placeholder {
        color: #fff;
    }

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background: linear-gradient(-55deg, #d71920, #750c10);
        opacity: .55;
        z-index: -1;
    }

    @media (min-width: @screen-sm-min) {
        padding: 35px 20px 10px;
    }
}

.mhd__title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.12;
    font-weight: 700;

    @media (min-width: @screen-sm-min) {
        margin-bottom: 35px;
        font-size: 36px;
    }
}

.mhd__form {
    margin-bottom: 0;
}

.mhd__footer {
    display: flex;
    flex-wrap: wrap;
}

.mhd__menu {
    max-width: 100%;
    flex-basis: 100%;
    order: 2;

    @media (min-width: @screen-sm-min) {
        flex: 1;
        max-width: initial;
        order: 1;
    }
}

.mhd__advanced {
    flex: 1 0 auto;
    order: 1;
    margin-bottom: 10px;
    text-align: center;

    @media (min-width: @screen-sm-min) {
        flex: 0 0 auto;
        order: 2;
        margin-bottom: 0;
        text-align: left;
    }
}
