.nav {
    display: flex;
    justify-content: space-between;
}

.nav-tabs {
    border-bottom: 2px solid rgba(151, 151, 151, 0.30);
    font-size: @font-size-medium;
    font-weight: 500;

    &:before,
    &:after {
        display: none;
    }

    > li {
        float: none;
        margin-bottom: -2px;

        // Actual tabs (as links)
        > a {
            color: @text-color;
            border: none;
            border-bottom: 2px solid transparent;
            white-space: nowrap;

            &:hover {
                color: @text-color;
            }
        }

        // Active state, and its :hover to override normal :hover
        &.active > a {
            &,
            &:hover,
            &:focus {
                font-weight: 700;
                border: none;
                border-bottom: 2px solid @nav-tabs-active-link-hover-border-color;
            }
        }
    }

    @media (min-width: @screen-sm-min) {
        font-size: @font-size-h3;
    }
}
