@import '../variables-bootstrap';

.panel-group {

    .panel + .panel {
        margin: 0;
    }
}

.panel-group .panel:last-child .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.panel {
    border-right: none;
    border-left: none;
    box-shadow: none;

    &:last-child {

        .panel-title {
            border-bottom: 1px solid #ddd;
        }
    }
}

.panel-heading {
    padding: 0;
}

.panel-title {
    position: relative;
    margin: 0;
    border-top: 1px solid #ddd;
    font-size: @font-size-h4;
    font-weight: 700;

    a {
        display: block;
        padding: 15px 25px 15px 0;
        background-color: transparent;

        .icon-down {
            position: absolute;
            top: 50%;
            right: 3px;
            z-index: 1;
            margin-top: -6px;
            transform: rotate(-45deg);
            transition: all .3s ease;
        }

        &.collapsed {

            .icon-down {
                transform: rotate(135deg);
            }
        }

        @media (min-width: @screen-md) {
            padding: 25px 25px 25px 0;
        }
    }
}

.panel-body {
    padding: 15px 0;
    border: none;
}
