@import '../variables-bootstrap';

@content-max-width: 640px;

.post,
.page {

    h1 {
        max-width: @content-max-width;
        margin-top: 0;
        margin-bottom: 30px;
    }

    ol:not([class*='menu-']),
    ul:not([class*='menu-']) {
        max-width: @content-max-width;
        margin: 20px 0;
        padding-left: 9px;

        li:not(.select2-search) {
            margin: .5em;
        }
    }

    ul:not([class*='menu-']) {

        li {
            list-style: square;
        }
    }

    ol:not([class*='menu-']) {

        li {
            list-style: decimal;
        }
    }

    // Style all links except:
    [class*='col-'] a:not(.card):not(.square):not(.btn):not(.label):not([data-toggle]),
    & > * > a:not(.card):not(.square):not(.btn):not(.label):not([data-toggle]) {
        color: @brand-primary;

        &:hover {
            text-decoration: underline;
        }
    }

    [class*='col-'] p:not([class*='__content']),
    & > p:not([class*='__content']) {
        max-width: @content-max-width;
        //margin: 3em 0;
    }

    hr {
        width: 100%;
        height: 2px;
        border: none;
        background: linear-gradient(to left, #c1c1c1, #c1c1c1 50%, transparent 50%, transparent 100%) repeat-x ~"center/3px 1px";
    }

    blockquote {
        position: relative;
        margin: 20px 0;
        padding: 30px;
        border: 1px dotted #ccc;
        border-left: none;
        border-right: none;
        font-size: @font-size-medium;
        text-align: center;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            left: 50%;
            width: 48px;
            height: 27px;
            background: no-repeat ~"center/26px" #fff;
            content: '';
            transform: translate3d(-50%, -50%, 0);

            @media (min-width: @screen-md-min) {
                width: 78px;
                background-size: 38px;
            }
        }

        &:before {
            background-image: url(/svg/quotes-top.svg);
        }

        &:after {
            top: 100%;
            background-image: url(/svg/quotes-bottom.svg);
        }

        @media (min-width: @screen-md-min) {
            .h1;
            margin: 50px 0;
            padding: 40px 30px;
        }

        p {
            margin: 0;
        }
    }

    img:not([class*='__image']):not([class*='__avatar']) {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        text-align: center;

        @media (min-width: @screen-md-min) {
            width: auto;
        }
    }

    .metadata,
    .media-item {

        img:not([class*='__image']):not([class*='__avatar']) {
            width: 100%;
            height: auto;

            @media (min-width: @screen-md-min) {
                width: 100%;
            }
        }
    }

    img[style*='float:left'],
    img[style*='float: left'] {

        @media (min-width: @screen-md-min) {
            margin: 0 20px 20px 0;
        }
    }

    img[style*='float:right'],
    img[style*='float: right'] {

        @media (min-width: @screen-md-min) {
            margin: 0 0 20px 20px;
        }
    }

    .swiper--gallery,
    .swiper--thumbs {

        img {
            margin-bottom: 0;
        }
    }

    .swiper--gallery {
        margin-top: 2em;
    }

    .swiper--thumbs {
        margin-bottom: 2em;
    }
}

.post {

    [class*='col-'] > h2,
    [class*='col-'] > h3,
    [class*='col-'] > h4,
    & > h2,
    & > h3,
    & > h4 {
        position: relative;
        max-width: @content-max-width;
        padding-left: 20px;

        &:before {
            position: absolute;
            top: 8px;
            left: 0;
            width: 10px;
            height: 10px;
            background-color: @brand-primary;
            content: '';
        }
    }
}

.page {


    .menu-links {
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

.page__element {

    margin-bottom: 30px;
}
