@import '../variables-bootstrap';

// Sizes
@max-h: 360px;
@play-list-head-h: 64px;

// Width
@playlist-width: 380px;

// Colors
@player-main-bgr: #1a1a1a;
@col-main-text: #999;

@playlist-bgr: #2e2e2e;
@playlist-bgr-active: #3a3a3a;
@col-accent: #c03636;

.RYPP { /* Youtube Player With Playlist */
    width: 100%;
    position: relative;
    padding-right: @playlist-width;
    background: @player-main-bgr;
    overflow: hidden;

    color: @col-main-text;

    // Main video box
    .RYPP-video {
        width: 100%;
        padding-top: 56.25%;
        float: left;
        position: relative;

        > iframe {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }

    &.r16-9 {
        .RYPP-video {
            padding-top: 56.25%;
        }
    }

    &.r4-3 {
        .RYPP-video {
            padding-top: 75%;
        }
    }

    &.r2-1 {
        .RYPP-video {
            padding-top: 50%;
        }
    }

    .RYPP-items {
        width: 100%;
        position: absolute;
        left: 0;
        top: @play-list-head-h;
        right: 0;
        bottom: 0;
        overflow-y: auto;
    }

    // Playlist
    .RYPP-playlist {
        width: @playlist-width;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: @playlist-bgr;

        a {
            color: @col-main-text;
            &:hover {
                color: #fff;
            }
        }

        ol {
            padding: 0 0 16px 0;
            margin: 0;
            list-style: none;

            counter-reset: item;
            li {
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-start;
                position: relative;
                padding: 12px 20px 12px;
                transition: all .3s ease;

                > img {
                    width: 85px;
                    display: block;
                    border: 2px solid transparent;
                }
                > p {
                    width: 76%;
                    margin: 0;
                    padding-left: 18px;
                    display: inline-block;
                    color: #cacaca;
                    > small {
                        margin: 0;
                        padding: 0;
                        font-size: 80%;
                        opacity: 0.5;
                    }
                }
                &:hover {
                    background-color: @playlist-bgr-active;
                    cursor: pointer;
                }
                &.selected {
                    background-color: @playlist-bgr-active;
                    cursor: pointer;
                    > p {
                        color: #fff;
                    }
                    > img {
                        border: 2px solid @col-accent;
                    }
                    &:before {
                        content: '▶';
                        font-size: 10px;
                        color: @col-accent;
                        margin-left: -15px;
                        padding-right: 6px;
                    }
                }

                &:after {
                    position: absolute;
                    right: 20px;
                    bottom: 0;
                    left: 20px;
                    height: 1px;
                    background-image: linear-gradient(to left, rgba(193, 193, 193, 0.3), rgba(193, 193, 193, 0.3) 50%, transparent 50%, transparent 100%);
                    background-size: 2px 1px;
                    background-repeat: repeat-x;
                    content: '';
                }

                //&:before {
                //    counter-increment: item;
                //    content: counter(item);
                //    font-size: 80%;
                //}
            }
        }

        @media (max-width: @screen-sm-max) {
            display: none;
        }
    }

    @media (max-width: @screen-sm-max) {
        padding-right: 0;
    }
}

// Chrome scrollbar
.RYPP-items::-webkit-scrollbar {
    width: 6px;
    background: @playlist-bgr-active;
}

.RYPP-items::-webkit-scrollbar-thumb {
    background: @col-main-text;
}

.RYPP__header {
    width: 100%;
    height: @play-list-head-h;
    padding: 1px 20px 0;
    border-bottom: 1px solid #3a3a3a;
    z-index: 2;
}
