@import '../variables-bootstrap';

.section {
    padding: 30px 0;

    @media (min-width: @screen-sm-min) {
        padding: 60px 0;
    }
}

.section__main,
.section__side {

    @media (max-width: @screen-sm-max) {
        max-width: 100%;
        flex-basis: 100%;
    }
}

.section__widget {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;

    @media (min-width: @screen-sm-min) {
        margin-bottom: 60px;
    }
}

.widget header h1,
.widget header h2,
.section__subtitle {
    position: relative;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 30px;

    &:before {
        position: absolute;
        top: 8px;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: @brand-info;
        content: '';
    }
}

.section__subtitle--red {

    &:before {
        background-color: @brand-primary;
    }
}


/**
 * Modifiers
 */
.section--creme {
    background-color: #f5f4f4;
}

.section--small {
    padding: 30px 0;
}

.section--news {
    padding-bottom: 0;

    .swiper--free {
        margin-top: -20px;
    }
}
