.v-select.select {
    font-size: 14px;

    .selected-tag {
        padding: 0 7px;
        background-color: transparent;
        border: none;
        pointer-events: none;
    }

    .dropdown-toggle {
        border: 1px solid #9fa4a6;
        color: #4a4a4a;
    }

    .dropdown-menu {
        overflow: hidden;
        border: 1px solid #9fa4a6;
        border-top: none;
        box-shadow: 0 3px 3px rgba(0,0,0,.15);

        & > .highlight > a {
            color: #4a4a4a;
            background-color: #f5f5f5;
        }

        & .active > a {
            color: #4a4a4a;
            background-color: #f5f5f5;
        }
    }

    .open-indicator {
        bottom: 2px;

        &:before {
            width: 8px;
            height: 8px;
            border-color: #adb1b3;
            border-width: 1px 1px 0 0;
        }
    }

    &.open {

        .open-indicator {
            bottom: -3px;
        }
    }

    input[type=search],
    input[type=search]:focus {
        height: 30px;
    }

    li > a {
        padding-left: 10px;
    }
}
