@import '../variables-bootstrap';

.squarebox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: -10px;

    .square__icon {
        font-size: 50px;
    }

    .title-lora {
        font-size: @font-size-base;
        line-height: 1.3;
    }

    @media (min-width: @screen-sm-min) {
        margin-bottom: 40px;
        margin-left: -20px;

        .square__icon {
            font-size: 70px;
        }

        .title-lora {
            font-size: @font-size-medium;
        }
    }

    @media (min-width: @screen-md-min) {

        .square__icon {
            font-size: 90px;
        }

        .title-lora {
            font-size: @font-size-large;
        }
    }

    @media (max-width: @screen-xs) {

        .square__inner {
            flex-direction: column;
        }

        .square__center {
            flex: 1;
            display: flex;
            align-items: center;
        }

        .square__bottom {
            position: relative;
            padding: 0;
        }
    }
}

.squarebox__item {
    max-width: 50%;
    flex-basis: 50%;
    padding-left: 10px;
    padding-bottom: 10px;

    @media (min-width: @screen-sm-min) {
        max-width: 25%;
        flex-basis: 25%;
        padding-left: 20px;
        padding-bottom: 20px;
    }
}

.squarebox__item--mobile {

    @media (min-width: @screen-xs-min) {
        display: none;
    }
}

.squarebox__item--desktop {
    display: none;

    @media (min-width: @screen-xs-min) {
        display: block;
    }
}
