@import '../helpers/flex';
@import '../variables-bootstrap';

.square {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-color: #fff;
    transition: all .3s ease;
    transform: scale(1);

    &:hover {
        background-color: @brand-primary;
        color: #fff;
        transform: scale(1.05);
    }
}

.square__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(54, 13, 15, 0.69), rgba(0, 0, 0, 0.39));
    opacity: 1;
    transition: all .3s ease;
}

.square__overlay--active {
    background-image: linear-gradient(rgba(223, 0, 11, 0.69), rgba(0, 0, 0, 0.39));
    opacity: 0;
}

.square__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.square__inner--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square__inner--bottom {
    display: flex;
    align-items: flex-end;
}

.square__bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.square__center {

}

.square__title {
    margin-top: 0;
}

.square__meta {
    font-size: @font-size-xs;
}

.square__icon {
    font-size: 90px;

    @media (min-width: @screen-xs-min) {
        font-size: 80px;
    }

    @media (min-width: @screen-sm-min) {
        font-size: 60px;
    }

    @media (min-width: @screen-lg-min) {
        font-size: 87px;
    }
}

/**
 * Modifiers
 */
.square--rectangle {

    @media (min-width: @screen-sm-min) {
        padding-bottom: ~"calc(50% - @{flex-margin-mini})";
    }
}

.square--primary-dark {
    background-color: @brand-primary-dark;
    color: #fff;

    &:hover {
        background-color: #fff !important;
        color: @brand-primary-dark !important;;
    }
}

.square--link {
    background-color: #d71920;
    color: #fff;

    &:hover {
        background-color: #FF3131 !important;
    }

    .square__title {
        font-size: @font-size-large;
    }
}

.square--half {
    padding-bottom: 50%;
}

.square--half-top,
.square--half-bottom {

    @media (min-width: @screen-xs-min) {
        padding-bottom: ~"calc(50% - 3px)";
    }
}

.square--half-top {
    margin-bottom: 10px;

    @media (min-width: @screen-xs-min) {
        margin-bottom: 6px;
    }
}

.square--article {
    color: #fff;
    background: transparent ~"center/cover";

    &:hover {
        transform: scale(1);

        .square__overlay {
            opacity: 0;
        }

        .square__overlay--active {
            opacity: 1;
        }

        .highlight__text {
            background-color: @brand-primary;
        }
    }

    .square__title {
        padding: 0 20px;
        margin-left: -30px;
        .ellipsis(2);
    }

    .square__title--full {
        .ellipsis(5);
    }

    .highlight__text {
        background-color: transparent;
    }

    .square__inner {
        padding: 20px;
    }
}
