.table {
    color: rgba(53, 53, 53, 0.75);

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: 7px 9px;

                @media (min-width: @screen-sm-min) {
                    padding: 12px 15px;
                }
            }
        }
    }

    & > thead {
        & > tr {
            & > th {
                background-color: #e0e0e0;
                border-bottom-color: #bbbbbb;
                color: #4a4a4a;
                font-weight: 500;
            }
        }
    }
}

// Datepicker table
.table-condensed {

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: 8px 10px;
            }
        }
    }
}
