.video-playlist {
    background: url(/images/pattern-black.png) repeat;

    .container {
        padding: 0;
    }

    @media (min-width: @screen-sm-min) {
        padding: (@grid-gutter-width / 2) 0;

        .container {
            padding-right: (@grid-gutter-width / 2);
            padding-left: (@grid-gutter-width / 2);
        }
    }
}
