@import '../variables-bootstrap';

#layout-before-main {
    background-color: #191919;
    color: #fff;
}

.weather {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px 15px;
    overflow: hidden;
    text-transform: uppercase; // For weather letters

    &:before {
        position: absolute;
        top: 20px;
        right: 40px;
        width: 100px;
        height: 36px;
        content: '';
        background-size: 100% auto;
        opacity: .05;
    }
}

strong {
    padding-left: 5px;
}

.weather__icon {
    height: 22px;
    margin-left: auto;
}

.weather__item--cloudsun:before {
    background-image: url(/svg/weather-cloudsun.svg);
}

.weather__item--rain:before {
    background-image: url(/svg/weather-rain.svg);
}

.weather__item--cloud:before {
    background-image: url(/svg/weather-cloud.svg);
}

.weathericons {
    height: 90px;
    margin-bottom: -10px;
}
