@import '../variables-bootstrap';

/**
 * Header navigation search
 */
.widget-navigation.widget-search-form {
    display: none; // Will appear with JS

    form,
    fieldset {
        height: 100%;
        width: 100%;
        color: #fff;
    }

    fieldset {
        position: relative;

        .icon-search,
        .icon-close {
            position: absolute;
        }

        .icon-search {
            top: 10px;
            left: 9px;
            font-size: @font-size-base;

            @media (min-width: 920px) {
                top: 13px;
                left: 10px;
            }

            @media (min-width: @screen-lg-min) {
                top: 12px;
                left: 15px;
                font-size: 16px;
            }
        }

        .icon-close {
            top: 11px;
            right: 10px;
            font-size: 12px;

            @media (min-width: 920px) {
                top: 14px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        padding: 0 45px 0 40px;
        background-color: @brand-primary-dark;
        font-size: 16px;

        &::placeholder {
            color: #fff;
        }
    }

    button {
        display: none;
    }
}

.header__menu {

    .widget-navigation.widget-search-form {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
    }
}

.header__mobile-search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 150;
    background-color: @brand-primary;

    .widget-navigation.widget-search-form {
        padding: 0 (@grid-gutter-width / 2) (@grid-gutter-width / 2);

        input {
            height: auto;
            padding: 6px 30px 6px 30px;
        }

        button {
            display: block;
            width: 100%;
            margin-top: 10px;
            padding: 6px;
            background-color: #fff;
            color: @brand-primary;
            border: none;
            border-radius: 0;
        }

        .icon-close {
            display: none;
        }
    }

    @media (min-width: @screen-sm-min) {
        display: none;
    }
}

/**
 * Footer search
 */
.widget-before-footer-right.widget-search-form {
    position: relative;
    padding-right: 25px;
    margin-bottom: 15px;
    background-color: #1a1919;

    input {
        display: block;
        width: 100%;
        padding: 10px 35px 10px 15px;
        background-color: transparent;
        color: #fff;
        border: none;
    }

    button {
        display: none;
    }

    .icon-search {
        position: absolute;
        top: 50%;
        right: 10px;
        color: rgba(255, 255, 255, .13);
        transform: translateY(-50%);
        z-index: 1;
    }

    .icon-close {
        display: none;
    }
}

.widget-search-form {
    float: none;
}

.search-form button[type="submit"] {
    margin: 0;
}
