@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?ow4uol');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?ow4uol#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?ow4uol') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?ow4uol') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?ow4uol#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book {
  &:before {
    content: @icon-book; 
  }
}
.icon-folder-open {
  &:before {
    content: @icon-folder-open; 
  }
}
.icon-phone {
  &:before {
    content: @icon-phone; 
  }
}
.icon-pushpin {
  &:before {
    content: @icon-pushpin; 
  }
}
.icon-location {
  &:before {
    content: @icon-location; 
  }
}
.icon-bubbles4 {
  &:before {
    content: @icon-bubbles4; 
  }
}
.icon-user1 {
  &:before {
    content: @icon-user1; 
  }
}
.icon-users {
  &:before {
    content: @icon-users; 
  }
}
.icon-key {
  &:before {
    content: @icon-key; 
  }
}
.icon-plus {
  &:before {
    content: @icon-plus; 
  }
}
.icon-minus {
  &:before {
    content: @icon-minus; 
  }
}
.icon-cross {
  &:before {
    content: @icon-cross; 
  }
}
.icon-checkmark {
  &:before {
    content: @icon-checkmark; 
  }
}
.icon-play3 {
  &:before {
    content: @icon-play3; 
  }
}
.icon-pause2 {
  &:before {
    content: @icon-pause2; 
  }
}
.icon-stop2 {
  &:before {
    content: @icon-stop2; 
  }
}
.icon-hangouts {
  &:before {
    content: @icon-hangouts; 
  }
}
.icon-info {
  &:before {
    content: @icon-info; 
  }
}
.icon-inba {
  &:before {
    content: @icon-inba; 
  }
}
.icon-public-offer {
  &:before {
    content: @icon-public-offer; 
  }
}
.icon-projects {
  &:before {
    content: @icon-projects; 
  }
}
.icon-smart-city {
  &:before {
    content: @icon-smart-city; 
  }
}
.icon-taxes {
  &:before {
    content: @icon-taxes; 
  }
}
.icon-bus {
  &:before {
    content: @icon-bus; 
  }
}
.icon-calendar {
  &:before {
    content: @icon-calendar; 
  }
}
.icon-filter {
  &:before {
    content: @icon-filter; 
  }
}
.icon-marker {
  &:before {
    content: @icon-marker; 
  }
}
.icon-theater {
  &:before {
    content: @icon-theater; 
  }
}
.icon-phone-info {
  &:before {
    content: @icon-phone-info; 
  }
}
.icon-close {
  &:before {
    content: @icon-close; 
  }
}
.icon-ba-logo-white {
  &:before {
    content: @icon-ba-logo-white; 
  }
}
.icon-building {
  &:before {
    content: @icon-building; 
  }
}
.icon-car {
  &:before {
    content: @icon-car; 
  }
}
.icon-cashier {
  &:before {
    content: @icon-cashier; 
  }
}
.icon-dialog {
  &:before {
    content: @icon-dialog; 
  }
}
.icon-dots {
  &:before {
    content: @icon-dots; 
  }
}
.icon-education {
  &:before {
    content: @icon-education; 
  }
}
.icon-findings {
  &:before {
    content: @icon-findings; 
  }
}
.icon-helpdesk {
  &:before {
    content: @icon-helpdesk; 
  }
}
.icon-house {
  &:before {
    content: @icon-house; 
  }
}
.icon-infrastructure {
  &:before {
    content: @icon-infrastructure; 
  }
}
.icon-publics {
  &:before {
    content: @icon-publics; 
  }
}
.icon-robot {
  &:before {
    content: @icon-robot; 
  }
}
.icon-search {
  &:before {
    content: @icon-search; 
  }
}
.icon-user .path1 {
  &:before {
    content: @icon-user-path1;  
    color: rgb(242, 242, 242);
  }
}
.icon-user .path2 {
  &:before {
    content: @icon-user-path2;  
    margin-left: -1em;  
    color: rgb(212, 212, 212);
  }
}
.icon-user .path3 {
  &:before {
    content: @icon-user-path3;  
    margin-left: -1em;  
    color: rgb(212, 212, 212);
  }
}
.icon-waste {
  &:before {
    content: @icon-waste; 
  }
}

