@icomoon-font-family: "icomoon";
@icomoon-font-path: "fonts";

@icon-book: "\e91f";
@icon-folder-open: "\e930";
@icon-phone: "\e942";
@icon-pushpin: "\e946";
@icon-location: "\e947";
@icon-bubbles4: "\e970";
@icon-user1: "\e971";
@icon-users: "\e972";
@icon-key: "\e98d";
@icon-plus: "\ea0a";
@icon-minus: "\ea0b";
@icon-cross: "\ea0f";
@icon-checkmark: "\ea10";
@icon-play3: "\ea1c";
@icon-pause2: "\ea1d";
@icon-stop2: "\ea1e";
@icon-hangouts: "\ea8e";
@icon-info: "\ea0c";
@icon-inba: "\e91d";
@icon-public-offer: "\e918";
@icon-projects: "\e919";
@icon-smart-city: "\e91a";
@icon-taxes: "\e91b";
@icon-bus: "\e91c";
@icon-calendar: "\e914";
@icon-filter: "\e915";
@icon-marker: "\e916";
@icon-theater: "\e917";
@icon-phone-info: "\e913";
@icon-close: "\e912";
@icon-ba-logo-white: "\e900";
@icon-building: "\e901";
@icon-car: "\e902";
@icon-cashier: "\e903";
@icon-dialog: "\e904";
@icon-dots: "\e905";
@icon-education: "\e906";
@icon-findings: "\e907";
@icon-helpdesk: "\e908";
@icon-house: "\e909";
@icon-infrastructure: "\e90a";
@icon-publics: "\e90b";
@icon-robot: "\e90c";
@icon-search: "\e90d";
@icon-user-path1: "\e90e";
@icon-user-path2: "\e90f";
@icon-user-path3: "\e910";
@icon-waste: "\e911";

