@import '../variables';
@import '../variables-bootstrap';

@flex-margin: 20px;
@flex-margin-mini: 10px;

.f {
    padding: 1rem;
    background-color: fade(@brand-primary, 10%);
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &--grid {
        margin-bottom: -@flex-margin-mini;
        margin-left: -@flex-margin-mini;

        @media (min-width: @screen-sm-min) {
            margin-bottom: -@flex-margin;
            margin-left: -@flex-margin;
        }

        & > * {
            padding-bottom: @flex-margin-mini;
            padding-left: @flex-margin-mini;

            @media (min-width: @screen-sm-min) {
                padding-bottom: @flex-margin;
                padding-left: @flex-margin;
            }
        }
    }

    &--grid-mini {
        margin-bottom: -@flex-margin-mini;
        margin-left: -@flex-margin-mini;

        & > * {
            padding-bottom: @flex-margin-mini;
            padding-left: @flex-margin-mini;
        }
    }

    &--calendar {

        .flex-1-2 {

            @media (min-width: @screen-xs-min) {
                flex-basis: 50%;
                max-width: 50%;
            }

            @media (min-width: @screen-sm-min) {
                flex-basis: 50%;
                max-width: 50%;
            }
        }
    }

    &--full {
        width: 100%;
    }

    &--column {
        flex-direction: column;
    }

    &--column-reverse {
        flex-direction: column-reverse;
    }

    &--reverse {
        flex-direction: row-reverse;
    }

    &--center {
        justify-content: center;
    }

    &--start {
        justify-content: flex-start;
    }

    &--end {
        justify-content: flex-end;
    }

    &--between {
        justify-content: space-between;
    }

    &--around {
        justify-content: space-around;
    }

    &--align {
        align-items: center;
    }

    &--stretch {
        align-items: stretch;
    }

    &--nowrap {
        flex-wrap: nowrap;
    }
}

[class^='flex-'] {
    flex: 0 0 auto;
}

.flex-grow {
    flex: 1;
}

.flex-1 {
    flex-basis: 100%;
    max-width: 100%;
}

.flex-1-2 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: @screen-sm-min) {
        flex-basis: 50%;
        max-width: 50%;
    }
}

.flex-1-3 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: @screen-xs-min) {
        flex-basis: 50%;
        max-width: 50%;
    }

    @media (min-width: @screen-sm-min) {
        flex-basis: 100% / 3;
        max-width: 100% / 3;
    }
}

.flex-2-3 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: @screen-xs-min) {
        flex-basis: 50%;
        max-width: 50%;
    }

    @media (min-width: @screen-sm-min) {
        flex-basis: 100/3*2%;
        max-width: 100/3*2%;
    }
}

.flex-1-4 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: @screen-xs-min) {
        flex-basis: 50%;
        max-width: 50%;
    }

    @media (min-width: @screen-sm-min) {
        flex-basis: 25%;
        max-width: 25%;
    }
}

.flex-3-4 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: @screen-sm-min) {
        flex-basis: 75%;
        max-width: 75%
    }
}

.flex-1-5 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: @screen-xs-min) {
        flex-basis: 100/3%;
        max-width: 100/3%;
    }

    @media (min-width: @screen-sm-min) {
        flex-basis: 20%;
        max-width: 20%;
    }
}
