@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i&subset=latin-ext');
@import '../fonts/icomoon/style';


/**
 * Light     300
 * Regular   400
 * Medium    500
 * Semi-bold 600
 * Bold      700
 */
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

/**
 * Regular 400
 * Regular Italic 400
 */
.font-lora {
    font-family: 'Lora', serif;
}
