@import './variables-bootstrap';

.text-white {
    color: #fff;
}

.text-medium {
    font-size: @font-size-medium;
}

.text-large {
    font-size: @font-size-large;
}

.text-lora {
    .font-lora;
    font-style: italic;
}

.text-meta {
    .text-lora;
    color: #818181;
}

.v-middle {
    display: flex;
    align-items: center;
}

.bgr-creme {
    background-color: #f5f4f4!important;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.title-lora {
    .font-lora;
    font-style: italic;
    font-size: @font-size-base;

    @media (min-width: @screen-lg-min) {
        font-size: @font-size-large;
    }
}

.title-square {
    display: inline-block;
    position: relative;
    padding: 2px 0 2px 20px;

    &:before {
        position: absolute;
        top: 8px;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: @brand-primary;
        content: '';
    }

    a& {

        &:hover {
            text-decoration: underline;
        }
    }

    &--brand {
        color: @brand-primary;

        &:hover {
            color: @brand-primary;
        }
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: #979797;
    opacity: .35;
}

.line--mega {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        left: -2000px;
        width: 4000px;
        height: 1px;
        background-color: #979797;
        content: '';
    }
}
