/* -----------------------------------------------------------------------------
  ROOT ELEMENTS

----------------------------------------------------------------------------- */

/**
Fix footer to the bottom
 */
#layout-wrapper,
html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#layout-main-container,
#after-content,
#layout-after-main {
    overflow: hidden; // Hide .line--mega overflow
    flex: 1 0 auto;
}

/**
Main styles
 */
body {
    -webkit-font-smoothing: antialiased; // For font smoothing
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 1em 0;
}

img {
    max-width: 100%;
}

input {

    &:focus,
    &:active {
        outline: none;
    }
}

.row--grid {
    margin-bottom: -30px;

    [class*=col-] {
        margin-bottom: 30px;
    }
}

.row--mini {
    margin-left: -3px;
    margin-right: -3px;

    [class*=col-] {
        padding-left: 3px;
        padding-right: 3px;
    }

    &.row--grid {
        margin-bottom: -6px;

        [class*=col-] {
            margin-bottom: 6px;
        }
    }
}
