@import 'variables-bootstrap';

.theme-dpb {

    .logo__image {
        display: inline-block;
        width: 157px;
        height: 34px;

        @media (min-width: @screen-md-min) {
            width: 261px;
            height: 58px;
        }
    }

    .footer__logo-image {
        width: 198px;
        height: 44px;
    }

    .header__navigation {
        margin: 15px 0;

        @media (min-width: @screen-md-min) {
            margin: 25px 0 50px;
        }
    }

}
